/*
Products
*/

.products {
	background: var(--dark);
	padding: 0 22px 20px 22px;
}
.title {
	text-align: start;
	padding-top: 15px;
	font-size: 20px;
	font-weight: 600;
}

.list {
	margin-top: 24px;
	padding-bottom: 24px;
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}
.product {
	background: var(--bg);
	border-radius: 20px;
	overflow: hidden;
	width: calc(100% / 4 - 16px);
}
.image {
	width: 100%;
	height: 303px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.box {
	border: 0px none;
	height: 301px;
}

.box .group {
	height: 301px;
}

.box .overlap__group {
	background-position: 50% 50%;
	background-size: cover;
	height: 303px;
	left: -1px;
	position: relative;
	top: -1px;
}

.box .overlap {
	-webkit-backdrop-filter: blur(20px) brightness(100%);
	backdrop-filter: blur(20px) brightness(100%);
	background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
	border-radius: 0px 0px 20px 20px;
	height: 86px;
	left: 1px;
	position: absolute;
	top: 216px;
	width: 100%;
}

.box .text__wrapper {
	color: #000000;
	font-family: "Poppins-SemiBold", Helvetica;
	font-size: 16px;
	font-weight: 600;
	left: 20px;
	letter-spacing: 0;
	line-height: 24px;
	position: absolute;
	top: 16px;
	white-space: nowrap;
}

.box .div {
	color: #000000;
	font-family: "Poppins-Regular", Helvetica;
	font-size: 14px;
	font-weight: 400;
	left: 20px;
	letter-spacing: 0;
	line-height: 16px;
	position: absolute;
	top: 46px;
	white-space: nowrap;
}

.favorite {
	align-items: flex-start;
	background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
	background-color: rgba(255, 255, 255, 1);
	border: 0.59px solid;
	border-color: transparent;
	display: inline-flex;

	left: 203px;
	position: absolute;
	top: 20px;
}

@media only screen and (max-width: 1300px) {
	.product {
		width: calc(100% / 3 - 14px);
	}
}
@media only screen and (max-width: 1100px) {
	.product {
		width: calc(100% / 2 - 10px);
	}
}
@media only screen and (max-width: 992px) {
	.product {
		width: calc(100% / 3 - 14px);
	}
}
@media only screen and (max-width: 768px) {
	.product {
		width: calc(100% / 2 - 10px);
	}
}
@media only screen and (max-width: 576px) {
	.product {
		width: 100%;
	}
}

/*
Product
*/
.product__card {
	background: var(--dark);
	display: flex;
	padding: 40px 22px 0 22px;
}
.favourite:disabled {
	cursor: not-allowed;
	background: var(--bg);
}
.images {
	width: 70%;
}
.current {
	background-repeat: no-repeat;
	background-size: cover;
	height: 430px;
	border-radius: 25px;
}
.info {
	width: 70%;
	.date {
		text-align: end;
		font-size: 18px;
		font-weight: 500;
	}

	padding-left: 24px;
	.info__text {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;
		.title {
			font-size: 32px;
			font-weight: 600;
			@media only screen and (max-width: 1300px) {
				& {
					font-size: 26px;
				}
			}
			@media only screen and (max-width: 1100px) {
				& {
					font-size: 23px;
				}
			}
			@media only screen and (max-width: 400px) {
				& {
					font-size: 20px;
				}
			}
		}
		.description {
			font-size: 16px;
			font-weight: 400;
		}
		.bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.return {
				background-color: #6100c2;
				padding: 10px;
				border-radius: 10px;

				&:hover {
					background-color: #5920c1;
				}
			}
		}
	}
}

.mess {
	position: fixed;
	z-index: 99;
	right: 10px;
	bottom: 40px;
	background-color: green;
	padding: 20px;
	border-radius: 10px;
}

@media only screen and (max-width: 768px) {
	.product__card {
		flex-direction: column;
	}
	.images {
		width: 100%;
	}
	.info {
		width: 100%;
		padding-left: 0;
		padding: 20px 15px;
		background: var(--bg);
		border-radius: 0 0 25px 25px;
	}
	.current {
		border-radius: 25px 25px 0 0;
	}
	.info__text {
		gap: 15px;
	}
}
@media only screen and (max-width: 500px) {
	.product__card {
		padding: 20px 5px;
	}
	.current{
		height: 320px;
	}
}
@media only screen and (max-width: 400px) {
	.product__card {
		position: relative;
	}
	.purchase {
		position: absolute;
		top: 33px;
		color: #000000;
	}
	.favourite {
		width: 100%;
	}
	.return {
		width: 100%;
		text-align: center;
	}
}
