.privacy {
	align-items: center;
	border: 1px none;
	display: inline-flex;
	flex-direction: column;
	gap: 48px;
	padding-bottom: 24px;
	width: 100%;
}

.privacy__top {
	margin-top: 60px;
	align-items: center;
	display: inline-flex;
	flex-direction: column;
	gap: 24px;
}

.text {
	font-size: 23px;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(180deg, rgb(12, 186, 241) 0%, rgb(233, 92, 233) 100%);
	background-clip: text;
	width: -moz-fit-content;
}

.info {
	text-align: center;
	color: #d1d1d1;
	padding: 0 150px;
	font-size: 20px;
	@media only screen and (max-width: 1100px) {
		padding: 0 40px;
	}
	@media only screen and (max-width: 568px) {
		padding: 0 5px;
	}
}

.privacy__center {
	padding: 0 70px;
	align-items: flex-start;
	display: inline-flex;
	flex: 0 0 auto;
	flex-direction: column;
	gap: 32px;
	@media only screen and (max-width: 768px) {
		padding: 0 5px;
	}
}

.information {
	display: inline-flex;
	flex-direction: column;
	gap: 16px;
	line-height: 25px;
}

.information__text {
	font-size: 23px;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(180deg, rgb(12, 186, 241) 0%, rgb(233, 92, 233) 100%);
}
.information__wrapper {
	color: #d1d1d1;
	line-height: 21px;
}
.list {
	margin-top: 15px;
	display: flex;
	margin-left: 30px;
	flex-direction: column;
	gap: 15px;
}
