.box {
	border: 0px none;
	// height: 686px;
	// width: 1286px;
}

.CONTACT-US {
	// height: 686px;
	// width: 1286px;
}

.div {
	right: 20px;
	position: absolute;
	top: 49px;
	width: 647px;
}

.CONTACT-US-2 {
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	gap: 12px;
	left: 0;
	position: absolute;
	top: 0;
}

.text-wrapper {
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(180deg, rgb(12.12, 185.88, 240.76) 0%, rgb(233.05, 92.08, 233.05) 100%);
	background-clip: text;
	color: transparent;
	margin-top: -1px;
	position: relative;
	text-fill-color: transparent;
	width: fit-content;
}

.h-1 {
	position: relative;
	white-space: nowrap;
	width: fit-content;
}

.at-vrnas-we-re {
	left: 0;
	position: absolute;
	top: 106px;
	width: 645px;
}

.field {
	height: 50px;
	left: 0;
	position: absolute;
	top: 222px;
	width: 308px;
}

.overlap-group {
	background-color: #25253199;
	border-radius: 4px;
	height: 50px;
	position: relative;
	width: 306px;
}
.overlap-group-2 {
	left: -101px;
	position: relative;
}

.text-wrapper-2 {
	left: 15px;
	position: absolute;
	top: 11px;
	white-space: nowrap;
}

.overlap-wrapper {
	height: 50px;
	left: 339px;
	position: absolute;
	top: 222px;
	width: 308px;
}

.overlap-group-wrapper {
	height: 50px;
	left: 0;
	position: absolute;
	top: 296px;
	width: 308px;
}

.div-wrapper {
	height: 50px;
	left: 339px;
	position: absolute;
	top: 296px;
	width: 308px;
}

.field-2 {
	height: 137px;
	left: 0;
	position: absolute;
	top: 370px;
	width: 647px;
}
.textarea__message {
	width: 100%;
	height: 100%;
	background-color: rgba(37, 37, 49, 0.6);
	border-radius: 4px;
	border: none;
}


.send-message {
	align-items: flex-start;
	background: linear-gradient(180deg, rgb(12.12, 185.88, 240.76) 0%, rgb(233.05, 92.08, 233.05) 100%);
	display: inline-flex;
	left: 0;
	padding: 18px 38px;
	position: absolute;
	top: 539px;
}

.image {
	border: 0.85px solid;
	border-color: rgba(255, 255, 255, 0.168627451);
	border-radius: 343px;
	height: 350px;
	left: 38px;
	position: absolute;
	top: 50px;
	width: 350px;
}
.overlap {
	height: 686px;
	position: relative;
	// width: 1288px;
}
.overlap-2 {
	height: 137px;
	position: relative;
	width: 645px;
}

.overlap-3 {
	left: 0;
	position: absolute;
	top: 22px;
}

.overlap-4 {
	left: 37px;
	position: absolute;
	top: 0;
}

.ellipse {
	border-radius: 282px/282.5px;
	height: 270px;
	left: 2px;
	top: 21px;
	width: 270px;
}
.ellipse-2 {
	border-radius: 225.5px/226px;
	height: 200px;
	left: 37px;
	top: 58px;
	width: 200px;
}
.ellipse,
.ellipse-2 {
	border: 0.85px solid;
	border-color: rgba(255, 255, 255, 0.168627451);
	position: absolute;
}

.ellipse-3 {
	border-color: rgba(255, 255, 255, 0.168627451);
	border: 1.16px solid;
	border-color: #ffffff2b;
	border-radius: 226.47px;
	height: 453px;
	left: 148px;
	position: absolute;
	top: 96px;
	width: 453px;
}
.nkjnb-clipdrop {
	height: 200px;
	left: 138px;
	position: absolute;
	top: 7px;
	width: 200px;
}

.element {
	background-image: url("../../../images/Contact/SendMessage/twitterContact.svg");
	background-size: 100% 100%;
	height: 46px;
	left: -55px;
	position: absolute;
	top: 92px;
	width: 46px;
}

.logo-twitter {
	height: 15px;
	left: 15px;
	position: absolute;
	top: 16px;
	width: 18px;
}

.image-2 {
	left: 30px;
	position: absolute;
	top: 0;
	width: 214px;
}

// .mask-group {
// 	height: 453px;
// 	left: 148px;
// 	position: absolute;
// 	top: 96px;
// 	width: 453px;
// }

.logo-fb-simple-wrapper {
	background-image: url("../../../images/Contact/SendMessage/twitterContact.svg");
	left: 6px;
	top: 220px;
}
.logo-telegram-wrapper {
	background-image: url("../../../images/Contact/SendMessage/twitterContact.svg");
	left: 312px;
	top: 243px;
}
.logo-github-wrapper {
	background-image: url("../../../images/Contact/SendMessage/twitterContact.svg");
	left: 287px;
	top: 92px;
}
.logo-instagram-wrapper {
	background-image: url("../../../images/Contact/SendMessage/twitterContact.svg");
	left: 147px;
	top: 324px;
}
.logo-fb-simple-wrapper,
.logo-instagram-wrapper,
.logo-telegram-wrapper,
.logo-github-wrapper {
	background-size: 100% 100%;
	height: 46px;
	position: absolute;
	width: 46px;
}

.logo-fb-simple {
	height: 20px;
	left: 18px;
	position: absolute;
	top: 13px;
	width: 10px;
}

.logo-instagram {
	height: 22px;
	left: 12px;
	position: absolute;
	top: 12px;
	width: 22px;
}
.logo-github {
	height: 21px;
	left: 13px;
	position: absolute;
	top: 12px;
	width: 21px;
}
