.section {
	height: 380px;
}
.header {
	background-image: url("../../images/header_img.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	padding: 47px 42px 0 32px;
}
.header__wrapper {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

// Rigth
.rigth {
	display: flex;
	align-items: center;

	gap: 24px;
}
.user {
	display: flex;
	gap: 8px;
	align-items: center;
	transition: opacity 0.2s ease-in;
	&:hover {
		opacity: 0.8;
	}
}
.user,
.bell,
.search {
	cursor: pointer;
	transition: opacity 0.2s ease-in;
	&:hover {
		opacity: 0.6;
	}
}
.avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: var(--dark);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 0px none;
}
@media only screen and (max-width: 1200px) {
	.header {
		padding: 30px 26px 0 26px;
	}
	.section {
		height: 350px;
	}
}
@media only screen and (max-width: 992px) {
	.header {
		background-size: cover;
	}
	.section {
		height: 250px;
	}
}
@media only screen and (max-width: 768px) {
	.rigth {
		gap: 40px;
	}
	.header {
		padding: 15px 10px 0 10px;
	}
	.section {
		height: 200px;
	}
}
@media only screen and (max-width: 576px) {
	.section {
		height: 150px;
	}
	.rigth {
		gap: 15px;
	}
}
@media only screen and (max-width: 400px) {
	.section {
		height: 120px;
	}
}
