.sidebar {
	position: fixed;
	width: 274px;
	padding: 24px;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
// .nav{
// 	display: flex;
// 	justify-content: space-between;
// }
.user {
	margin-top: 50px;
}
.title {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 22px;
	font-weight: 700;
	line-height: 20px;
}

.menu {
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	row-gap: 18px;
}

.link {
	color: var(--dark-sea);
	font-size: 16px;
	line-height: 17px;
	text-transform: capitalize;
}

.link:hover {
	color: var(--white);
}

.link.active {
	color: var(--violet);
}

.footer {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
}
.account {
	.favourites {
		color: var(--dark-sea);
		.favorite {
			display: flex;
			align-items: center;
			gap: 12px;
			font-size: 18px;
		}
		
	}
}

// @media only screen and (max-width: 1300px) {
// 	.footer {
// 		flex-direction: column;
// 	}
// 	.link {
// 		line-height: 20px;
// 	}
// }

// @media only screen and (min-width: 992px) {
// 	.sidebar {
// 		width: 20%;
// 		height: auto;
// 	}
// }

// @media only screen and (max-width: 992px) {
// 	.sidebar {
// 		width: 25%;
// 		padding: 20px;
// 	}
// }

// @media only screen and (max-width: 768px) {
// 	.sidebar {
// 		width: 31%;
// 		padding: 15px;
// 	}
// }

// @media only screen and (max-width: 576px){
// 	.sidebar{
// 		display: none;
// 	}
// }
