.footer {
	display: flex;
	padding: 24px;
	position: absolute;
	justify-content: space-between;
	align-items: center;
	bottom: 0;
	background-color: #191817;
	width: 100%;
}
.social {
	display: flex;
	gap: 15px;
}

.list {
	display: flex;
	gap: 24px;
}

.item {
	cursor: pointer;
	transition: opacity 0.2s ease-in;
	&:hover {
		opacity: 0.6;
	}
}

@media only screen and (max-width: 768px) {
	.footer {
		flex-direction: column;
		gap: 30px;
	}
}
@media only screen and (max-width: 400px) {
	.list {
		flex-direction: column;
		align-items: center;
	}
}
